<navbar layout="column" flex-none></navbar>
<div layout="column" flex class="md-padding">
  <div layout layout-align="center center" flex="none" class="main-list">
    <md-select ng-model="$ctrl.activeList" md-on-close="$ctrl.getElementsListSelected()">
      <md-option ng-repeat="list in $ctrl.user.lists" value="{{list.name}}">
        {{list.name}}
      </md-option>
    </md-select>
    <md-button class="md-raised">
      new list
    </md-button>
    <div flex></div>
    <md-button class="md-icon-button" ng-click="">
      <ng-md-icon icon="play_arrow" style="fill: #595959"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button"
               ng-click="">
      <ng-md-icon icon="replay" style="fill: #595959"></ng-md-icon>
    </md-button>
    <div class="time">
      1h 40m
    </div>
  </div>

  <md-content layout="column" class="md-whiteframe-z2 main-list" flex>
    <list list="$ctrl.list"></list>
  </md-content>

</div>

<md-button ng-click="$ctrl.addDialog()" class="md-fab md-primary" aria-label="Add timer">
  <ng-md-icon icon="add" style="fill: #ffffff"></ng-md-icon>
</md-button>
