<div layout="column" class="list"
     as-sortable ng-model="$ctrl.list">
  <div layout flex="none"
       class="row-list"
       ng-repeat="row in $ctrl.list"
       as-sortable-item>

    <div class="handle" layout layout-align="center center" as-sortable-item-handle>
      <ng-md-icon icon="more_vert" style="fill: #717077"></ng-md-icon>
    </div>

    <div layout layout-xs="column" flex>
      <counter></counter>

      <div layout="column" flex>
        <md-input-container>
          <input class="md-body-2" ng-model="row.name" />
        </md-input-container>
        <md-input-container>
          <textarea class="md-caption" ng-model="row.desc" rows="1"></textarea>
        </md-input-container>
      </div>
    </div>
    <div layout layout-align="center center">
      <md-button class="md-icon-button"
                 ng-click="$ctrl.delete($index)">
        <ng-md-icon icon="clear" style="fill: #757575"></ng-md-icon>
      </md-button>
    </div>
  </div>

</div>
